.date-input {
    width: 170px;
    height: 30px;
    padding: 5px;
    font: normal normal normal 16px Poppins;
    border: none;
    border-radius: 0;
    outline: none;
    opacity: 0.8;
    font-weight: 300 !important;
    margin-left: -7px !important;
    margin-top: -4px !important;
  }