.menu-item-icon {
    width: 20px;
    height: 20px;
    position: absolute;
  }
 
  .icon-first {
    left: 100px;
  }
 
  .icon-second {
    left: 148px;
  }
  .menu-item-label {
    width: 8px;
    height: 20px;
    position: absolute;
    left: 130px;
    text-align: left;
    font: normal normal normal 14px/21px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
  .popup-input {
    width: 150px;
    height: 30px;
    padding: 5px;
    border: none;
    border-radius: 0;
    outline: none;
    font-size: 16px;
    margin-left: -5px !important;
    margin-top: -5px !important;
 
  }