.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 0.9375rem;
  margin-bottom: 1%;
  .FullContainer{
    padding : 0 .5rem;
  }
  .lefttext {
    color: var(--PRIMARY_HEADING_TEXT) !important;
    text-transform: uppercase !important;
  }

  .righttext {
    display: flex;
    align-items: center;
    gap: 0.8rem; 

    .sharesection,
    .likesection {
      display: flex;
      align-items: center;
      gap: 0.5rem; /* 5px = 0.3125rem */
      font-size: var(--FONT-SIZE-H5); /* Remains same */
      font-weight: var(--FONT-WEIGHT-BOLD);
      color: var(--PRIMARY_ICON_COLOR);
      cursor: pointer;
    }
  }

  @media (max-width: 37.5rem) { /* 600px = 37.5rem */
    .lefttext {
      font-size: var(--FONT-SIZE-H4) !important;
    }
  }
}

.imagecard {
  position: relative;
  display: flex;
  width: 100%; /* Fill the full width of the Box */
  box-shadow: 0 0.25rem 0.5rem var(--SECONDARY_SHADOW); /* 4px = 0.25rem, 8px = 0.5rem */
  .image {
    width: 100%;
  }
}

.icon {
  position: absolute;
  bottom: 0.625rem; /* 10px = 0.625rem */
  left: 0.625rem; /* 10px = 0.625rem */
  width: 2.5rem; /* 40px = 2.5rem */
  height: 2.5rem; /* 40px = 2.5rem */
}

@media (max-width: 37.5rem) { /* 600px = 37.5rem */
  .icon {
    width: 1.875rem; /* 30px = 1.875rem */
    height: 1.875rem; /* 30px = 1.875rem */
  }
}



.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2%;
  margin-left: 0.5%;
  width: 100%;
}

.cardContainer {
  position: relative; // Card needs relative positioning
  flex-basis: 100%;

  @media screen and (min-width: 600px) {
      flex-basis: 45%;
  }
  @media screen and (min-width: 960px) {
      flex-basis: 31.5%;
  }
}

.card {
  background-color: var(--PRIMARY_BACKGROUND);
  border-radius: var(--BORDER-RADIUS-LG);
  box-shadow: 0px 2px 5px var(--PRIMARY_SHADOW);
}

.cardMedia {
  height: 15rem;
  width: 100%;
  object-fit: cover;

  @media screen and (min-width: 960px) {
      height: 25rem;
  }
}

// .icon {
//   position: absolute;
//   top: 1rem;
//   right: 1rem;
//   width: 2rem;
//   height: 2rem;
// }

.imageNameOverlay {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  padding: 0.5rem;
  // background: var(--PRIMARY_OVERLAY_COLOR);
  color: var(--WHITE);
  border-radius: var(--BORDER-RADIUS-SM);
  font-size: var(--FONT-SIZE-XS);

  @media screen and (min-width: 600px) {
      font-size: var(--FONT-SIZE-BODY);
  }
}